<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select
      panelClass="sort-select"
      [(ngModel)]="sort"
      (selectionChange)="searchGames(sort, page, page_size)"
    >
      <mat-option value="name">Name</mat-option>
      <mat-option value="-released">Released</mat-option>
      <mat-option value="-added">Added</mat-option>
      <mat-option value="-created">Created</mat-option>
      <mat-option value="-updated">Updated</mat-option>
      <mat-option value="-rating">Rating</mat-option>
      <mat-option value="metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="games">  
  <ng-container *ngFor="let game of games">
    <div class="game" (click)="openGameDetails(game.id)">
      <div class="game-thumb-container">
        <img
          *ngIf="game.background_image"
          src="{{ game.background_image }}"
          alt="thumbnail"
          class="game-thumbnail"
        />
      <p *ngIf="!game.background_image">No image</p>
      </div>
      <div class="game-description">
        <p class="game-name">{{ game.name }}</p>
        <div class="game-platforms">
          <img
            *ngFor="let gamePlatform of game.parent_platforms"            
            class="game-platform"
            src="/assets/images/platforms/{{ gamePlatform.platform.name}}.svg"
            alt="{{ gamePlatform.platform.name }}"
          />
        </div>
      </div>
    </div>
  </ng-container> 
</div>

<div class="pagination">
  <div class="pagination-nav">
    <button class="pagination-nav-prev" (click)="prevPage()">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>
    <button class="pagination-nav-next" (click)="nextPage()">
      <fa-icon [icon]="faArrowRight"></fa-icon>
    </button>
  </div>
  <div class="pagination-size">
    <mat-form-field>
      <mat-label>Games per page</mat-label>
      <mat-select
        panelClass="sort-select"
        [(ngModel)]="page_size"
        (selectionChange)="searchGames(sort, page, page_size)"
      >
        <mat-option value="20">20</mat-option>
        <mat-option value="28">28</mat-option>
        <mat-option value="36">36</mat-option>
        <mat-option value="44">44</mat-option>
        <mat-option value="58">58</mat-option>
        <mat-option value="66">66</mat-option>
        <mat-option value="74">74</mat-option>
        <mat-option value="82">82</mat-option>
        <mat-option value="90">90</mat-option>
        <mat-option value="98">98</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>